*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    color: white;
    text-align: center;
    padding: 25px 10px;
    font-family: Arial, sans-serif;
}

footer p{
    font-size: 15px;
    opacity: 0.9;
}
